* {
  box-sizing: border-box;
}

.title {
  margin: 1 auto;
  padding: 2rem;
  color: red;
  position: center;
  text-align: center;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin: 0 auto;
  padding: 2em;
  color: red;
  text-align: center;
  font-family: sans-serif;
}

body {
  margin: 0;
  position: center;
  color: grey;
  min-height: 100%;
  min-width: 100%;
}

.product_page {
  margin: 0;
  position: center;
  color: grey;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-image: url(flowers.jpg);
  background-repeat: no-repeat;
  background-size: 200rem;
}

p {
  margin: auto;
  padding: 1rem;
  color: black;
  font-family: fantasy;
}

img {
  display: block;
  margin: auto;
  background-size: 2em;
  min-height: 20%;
  min-width: 20%;
  max-width: 100%;
}

.hassle {
  display: flex;
  margin: auto;
  position: center;
  background-size: 2em;
  width: 290px;
  height: 280px;
  min-width: 20%;
  min-height: 20%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#landing_page_main {
  display: block;
  margin: auto;
  padding: .5rem;
  position: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parent {
  display: flex;
  margin: 0 4%;
  margin-top: 5em;
  min-height: 50vh;
}

.child {
  margin: 1rem;
  padding: 1rem;
  flex: 1;
  background-color: paleturquoise;
}

.child.child--big {
  flex: 3;
}

#customers {
  display: flex;
  margin: 5rem;
  padding: .5rem;
  flex-direction: row;
  background-position: center;
  background-size: 1em;
  align-items: center;
  justify-content: center;
  position: center;
  min-height: 10%;
  min-width: 10%;
  max-height: 90%;
}

.consumer {
  display: block;
  size: 30%;
  top: 20%;
  bottom: 20%;
  height: 50%;
  width: 50%;
}

.paragraph {
  margin-top: .10%;
  padding-top: .05%;
  bottom: 20%;
  position: relative;
  text-align: center;
}

.home-content {
  margin: 3% 20% 10% 22%;
}

.gif {
  width: 600px;
  margin-bottom: 2rem;
}

.press {
  margin-top: -1rem;
}