*{
    box-sizing: border-box;
}

.title {
    /* display: inline-block; */
    margin: 0;
    padding: 0;
    color: red;
    margin: 1 auto;
    padding: 2rem; 
    text-align: center;
    position: center;

  }
  
  h1, h2, h3, h4 {
    /* display: inline-block; */
    color: red;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }

  body {
      color:grey;
      margin: 0;
      /* background-image: url(Mind_control_helmet.png);  */
      position: center;
      min-height: 100%;
      min-width: 100%;
      background-size:  cover;
  }

  p {
      color: black;
      padding: 1rem;
      margin: auto;
      font-family: fantasy; 
  }

  img {
    display: block;
    margin: auto;
    background-size: 2em;
    min-height: 20%;
    min-width: 20%;
    max-width: 100%;
  }

  .hassle {
    margin: auto;
    background-size: 2em;
    min-height: 20%;
    min-width: 20%;
    max-width: 100%;
    width: 290px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: center;
    justify-content: center;
  }

#landing_page_main {
    margin: auto;
    padding: .5rem;
    display: block;
    flex-direction: column;
    align-items: center;
    position: center;
    justify-content: center;
}
.parent {
    display: flex;
    min-height: 50vh;
    margin: 0 4%;
    margin-top: 5em;

  }

.child {
    background-color: paleturquoise;
    flex: 1;
    margin: 1rem;
    padding: 1rem ;
}

.child.child--big {
    flex: 3;
}

#customers{
    padding: .5rem;
    background-position: center;
    margin: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: center;
    min-height: 10%;
    min-width: 10%;
    max-height: 90%;
    background-size: 1em;
    }

  .consumer {
    bottom: 20%;
    display: block;
    size: 30%;
    width: 50%;
    height: 50%;

  }

  .paragraph {
    padding-top: .05%;
    margin-top: .10%;
    position: relative;
    text-align: center;
  }